In [40]:


import requests
import lxml.html as lh
import pandas as pd

In [41]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'


a = requests.get(url)


b = lh.fromstring(a.content)


elements = b.xpath('//tr')

In [42]:

elements = doc.xpath('//tr')


doggo=[]
x=0


for element in elements[0]:
    x+=1
    name=element.text_content()
    print ('%d:"%s"'%(x,name))
    doggo.append((name,[]))

1:"Postal code
"
2:"Borough
"
3:"Neighborhood
"

In [43]:

for j in range(1,len(elements)):
    
    M=elements[j]
    
    
    if len(M)!=3:
        break
    
  
    x=0
    
    
    for m in M.iterchildren():
        data=m.text_content() 
        
        if x>0:
       
            try:
                data=int(data)
            except:
                pass
        
        doggo[x][1].append(data)
        
        x+=1

In [44]:
Dict={title:column for (title,column) in doggo}
df=pd.DataFrame(Dict)

In [45]:
df.head()

  Postal code\n           Borough\n                Neighborhood\n
0         M1A\n      Not assigned\n                            \n
1         M2A\n      Not assigned\n                            \n
2         M3A\n        North York\n                   Parkwoods\n
3         M4A\n        North York\n            Victoria Village\n
4         M5A\n  Downtown Toronto\n  Regent Park / Harbourfront\n

In [46]:
df.columns = ['Postcode', 'Borough','Neighbourhood']

doggos = df.columns.tolist()
df = df[doggos]

df.head()

  Postcode             Borough                 Neighbourhood
0    M1A\n      Not assigned\n                            \n
1    M2A\n      Not assigned\n                            \n
2    M3A\n        North York\n                   Parkwoods\n
3    M4A\n        North York\n            Victoria Village\n
4    M5A\n  Downtown Toronto\n  Regent Park / Harbourfront\n

In [47]:
df = df.replace('\n','', regex=True)
df.head()

  Postcode           Borough               Neighbourhood
0      M1A      Not assigned
1      M2A      Not assigned
2      M3A        North York                   Parkwoods
3      M4A        North York            Victoria Village
4      M5A  Downtown Toronto  Regent Park / Harbourfront

In [48]:
df

,Postcode,Borough,Neighbourhood
0,M1A,Not assigned,
1,M2A,Not assigned,
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
...,...,...,...
176,M6Z,Not assigned,
177,M7Z,Not assigned,
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...
179,M9Z,Not assigned,
180,,Canadian postal codes,

In [49]:
df[df['Borough']!= "Not assigned"]

,Postcode,Borough,Neighbourhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
5,M6A,North York,Lawrence Manor / Lawrence Heights
6,M7A,Downtown Toronto,Queen's Park / Ontario Provincial Government
...,...,...,...
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing CentrE
169,M8Y,Etobicoke,Old Mill South / King's Mill Park / Sunnylea /...
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...
180,,Canadian postal codes,

In [50]:
df['Borough']

0               Not assigned
1               Not assigned
2                 North York
3                 North York
4           Downtown Toronto
               ...
176             Not assigned
177             Not assigned
178                Etobicoke
179             Not assigned
180    Canadian postal codes
Name: Borough, Length: 181, dtype: object

In [51]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)

df = df.reset_index(drop=True)

df.head(10)

  Postcode           Borough                                 Neighbourhood
0      M3A        North York                                     Parkwoods
1      M4A        North York                              Victoria Village
2      M5A  Downtown Toronto                    Regent Park / Harbourfront
3      M6A        North York             Lawrence Manor / Lawrence Heights
4      M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government
5      M9A         Etobicoke                              Islington Avenue
6      M1B       Scarborough                               Malvern / Rouge
7      M3B        North York                                     Don Mills
8      M4B         East York              Parkview Hill / Woodbine Gardens
9      M5B  Downtown Toronto                      Garden District, Ryerson

In [52]:
df = df.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(','.join).reset_index()
df.columns = ['Postcode','Borough','Neighbourhood']
df.head(10)

,Postcode,Borough,Neighbourhood
0,,Canadian postal codes,
1,M1B,Scarborough,Malvern / Rouge
2,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek
3,M1E,Scarborough,Guildwood / Morningside / West Hill
4,M1G,Scarborough,Woburn
5,M1H,Scarborough,Cedarbrae
6,M1J,Scarborough,Scarborough Village
7,M1K,Scarborough,Kennedy Park / Ionview / East Birchmount Park
8,M1L,Scarborough,Golden Mile / Clairlea / Oakridge
9,M1M,Scarborough,Cliffside / Cliffcrest / Scarborough Village West

In [53]:
df['Neighbourhood'] = df['Neighbourhood'].str.strip()

In [54]:
df.drop(df.index[df['Borough'] == 'Not assigned'], inplace = True)

In [55]:
df.drop(0, inplace = True )

In [56]:
df

    Postcode      Borough                                      Neighbourhood
1        M1B  Scarborough                                    Malvern / Rouge
2        M1C  Scarborough           Rouge Hill / Port Union / Highland Creek
3        M1E  Scarborough                Guildwood / Morningside / West Hill
4        M1G  Scarborough                                             Woburn
5        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
99       M9N         York                                             Weston
100      M9P    Etobicoke                                          Westmount
101      M9R    Etobicoke  Kingsview Village / St. Phillips / Martin Grov...
102      M9V    Etobicoke  South Steeles / Silverstone / Humbergate / Jam...
103      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]