In [6]:
import pandas as pd 
import numpy as np 

dff = pd.read_csv('Geospatial_Coordinates.csv')

dff.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [9]:
dff.columns = ['Postcode','Latitude','Longitude']

ass2_col = dff.columns.tolist()
ass2_col

['Postcode', 'Latitude', 'Longitude']

In [11]:
df = pd.read_csv('doggo.csv',index_col=0)
df.head()

  Postcode      Borough                             Neighbourhood
0      M1B  Scarborough                           Malvern / Rouge
1      M1C  Scarborough  Rouge Hill / Port Union / Highland Creek
2      M1E  Scarborough       Guildwood / Morningside / West Hill
3      M1G  Scarborough                                    Woburn
4      M1H  Scarborough                                 Cedarbrae

In [13]:
dffinal = pd.merge(df, dff, on='Postcode')
dffinal.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,Malvern / Rouge,43.806686,-79.194353
1,M1C,Scarborough,Rouge Hill / Port Union / Highland Creek,43.784535,-79.160497
2,M1E,Scarborough,Guildwood / Morningside / West Hill,43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [14]:
dffinal.to_csv(r'final.csv')